@tailwind base;
@tailwind components;
@tailwind utilities;


/* Tabs  */

.tabs {
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  overflow: hidden;
  display: flex;
}

.tab-buttons {
  width: 20%;
  display: flex;
  flex-direction: column;
}

/* .tab-buttons .tabsBtn{
  background-color: #6754E9;
  
} */

.tab-buttons button {
  padding: 10px 0px;
  border: none;
  border-radius: 40px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 600;
}

.tab-buttons button .tabsBtnIcon{
  display: none;
font-size: 30px;
}


/* .tab-buttons button .tabsBtnRounded{

} */

.tab-buttons button.active {
  background-color: #6754E9;
}

.tab-buttons button.active .acrivetabsBtnRounded{
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.tab-buttons button.active .acrivetabsBtnRounded .tabsBtnIcon  {
  display: block;
  color: white;
}

.tab-content {
  width: 100%;
  height: 300px;
  padding: 20px;
}













/* for nav  */



.navbar {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.5rem;
}

.toggle-button {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: #fff;
}

.nav-menu {
  list-style: none;
  display: flex;
}

.nav-item {
  margin-right: 1rem;
}

.nav-link {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 768px) {
  .toggle-button {
    display: flex;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 1rem 0;
  }

  .nav-menu.active {
    display: flex;
  }

  .nav-item {
    margin: 0;
    text-align: center;
  }
}